:root{
    --var-clr-background-gray: #f6f8f9;
    --var-clr-btn-blue: #7573f6;
    --var-clr-paragraph-gray: #666f78;
    --var-clr-h1:#29323f;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    background-color: var(--var-clr-background-gray);
    margin: 70px 200px;
    border-radius: 10px;
    display: flex;
    gap:12rem;
    position: relative;
}
.info{
    width: 45%;
    padding: 70px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.info > h1{
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 600;
    color:#29323f;
}

.info > h2{
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 500;
}

.info > p{
    color: var(--var-clr-paragraph-gray);
    margin-bottom: 25px;
    letter-spacing: 2px;
    line-height: 1.8;
}
button{
    height: 2.5rem;
    text-align: center;
    border-radius: 4px;
    padding: 5px 20px;
    font-size: 14px;
}
button:nth-child(1){
    background-color: var(--var-clr-btn-blue);
    border-color: var(--var-clr-btn-blue);
    color: white;
    margin-right: 10px;
}
img{
    position: absolute;
    bottom: 0px;
    right: 80px;
    height: 330px;
}
