@media (max-width:600px){
    body{
        width:100%;
        /* box-sizing: border-box; */
    }
    main{
        width:100%;
        margin: 0px;
        box-sizing: border-box;
    }
    .left-to-right, article{
        width: 100%;
    }
    button{
        display: none;
    }
    main .left-to-right article{
        border-radius: 20%;
    }
    main section:nth-child(2),
    main section:nth-child(4) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        margin:0px;
    }
    main section:nth-child(2) article,
    main section:nth-child(4) article{
        margin-left: 25%;
    }
    article > form{
        width: 100%;
    }
    input{
        width: 100%;
    }
    section form label input,
    section form textarea form .send, 
    section form label textarea{
        width: 100%;
    }
    #send{
        margin-left: 40%;
    }

    }
